<%- include ../../partials/dashHeader.ejs %>
<%- include ../../partials/dashPage.ejs %>

<h1>editar curso</h1>

<div class="card-container">
    <form class="form-container" method="POST" action="/dashboard/courses/update" >

        <fieldset>
            <h2>informações gerais</h2>
            <label for="">nome do curso</label>
            <input type="text" class="input-general" name="title" value="<%= courses.title%>">

            <label for="">descrição do curso</label>
            <input type="text" class="input-general" name="bodyCourse" value="<%= courses.bodyCourse%>">

            <div class="img-container-select">
                <label for="">capa do curso</label>
                <div>
                    <img src="/img/dashboard/picture.png" alt="" class="img-selected">
                    <input type="file" onchange="mudar(this)" class="input-general file" name="imgCourse" value="<%= courses.imgCourse%>">
                </div>
            </div>
        </fieldset>

        <fieldset>
            <h2>destaque</h2>
            <label for="">descrição do destaque</label>
            <input type="text" class="input-general" name="featured" value="<%= courses.featured%>">

            <div class="img-container-select">
                <label for="">imagem de fundo destaque</label>
                <div>
                    <img src="/img/dashboard/picture.png" alt="" class="img-selected">
                    <input type="file" onchange="mudar(this)" class="input-general file" name="imgFeatured" value="<%= courses.imgFeatured%>">
                </div>
            </div>
        </fieldset>

        <fieldset>
            <h2>impactos</h2>
            <label for="">descrição dos impactos</label>
            <input type="text" class="input-general" name="impactDesc" value="<%= courses.impactDesc%>">

            <div class="img-container-select">
                <label for="">imagem 1</label>
                <div>
                    <img src="/img/dashboard/picture.png" alt="" class="img-selected">
                    <input type="file" onchange="mudar(this)" class="input-general file" name="impactImg1" value="<%= courses.impactImg1%>">
                </div>
            </div>

            <div class="img-container-select">
                <label for="">imagem 2</label>
                <div>
                    <img src="/img/dashboard/picture.png" alt="" class="img-selected">
                    <input type="file" onchange="mudar(this)" class="input-general file" name="impactImg2" value="<%= courses.impactImg2%>">
                </div>
            </div>

            <div class="img-container-select">
                <label for="">imagem 3</label>
                <div>
                    <img src="/img/dashboard/picture.png" alt="" class="img-selected">
                    <input type="file" onchange="mudar(this)" class="input-general file" name="impactImg3" value="<%= courses.impactImg3%>">
                </div>
            </div>
        </fieldset>

        <input type="hidden" name="id" value="<%= courses.id %>">
        <button class="primary btn-change">editar curso</button>
    </form>

    <a href="/dashboard/courses" class="tertiary">cancelar</a>
</div>


<%- include ../../partials/dashFooter.ejs %>