<%- include ../../partials/dashHeader.ejs %>


<section class="pop-up delete">
    <div class="pop-up-body">
        <p class="title">Deseja mesmo excluir o curso selecionado?</p>

        <div class="btn-container">
            <a class="primary btn-card" href="/dashboard/courses">cancelar</a>

            <form class="form-delete" method="POST" action="/dashboard/courses/delete">
                <input type="hidden" name="id" class="id">
                <button class="btn primary btn-card btn-delete">excluir</button>
            </form>
        </div>
    </div>
</section>

<section class="pop-up user">
    <div>
        <p class="title">Curso adicionado com sucesso!</p>
        <a href="/dashboard/courses" class="tertiary">voltar</a>
    </div>
</section>


<section class="pop-up edit">
    <div>
        <p class="title">Curso editado com sucesso!</p>
        <a href="/dashboard/courses" class="tertiary">voltar</a>
    </div>
</section>



<%- include ../../partials/dashPage.ejs %>

<div class="title-container">
    <h1>visão geral - todos os cursos</h1>
    <a class="primary btn-principal" href="/dashboard/courses/new">adicionar novo curso</a>
</div>


<p class="success"><%= success %></p>
<p class="successEdit"><%= successEdit %></p>


<div class="container-cards-dashboard">
    <h2>Já cadastrados</h2>

    <% courses.forEach((courses) => { %>

    <div class="card-container-long">
        <h3><%= courses.title %></h3>

        <div class="btn-container-long">
            <a class="primary btn-card" href="/dashboard/courses/edit/<%= courses.id %>">editar</a>
            <button onclick="show()" class="primary btn-card btn-confirm-delete" type="button">excluir</button>
            <input type="hidden" name="id" class="idCard" value="<%= courses.id %>">
        </div>

    </div>

    <%})%>

</div>


<script src="/js/pop-up-dash.js"></script>
<%- include ../../partials/dashFooter.ejs %>
