<%- include partials/header.ejs %>

<body class="body body-index">

    <section class="pop-up">
        <div>
            <p>
                Agora você vai ficar por dentro de todas as novidades!
            </p>

            <p>
                Quando uma nova notícia for postada, enviaremos uma notificação para o seu e-mail!
            </p>

            <a href="/" class="btn-back">concluir</a>
        </div>

    </section>

    <!-- nav-bar -->
    <%- include partials/navbar.ejs %>

    <main class="main-index">
        <!-- area principal -->
        <section class="principal padding">
            <h1 class="principal-title"><%= principalArea.title %></h1>
        </section>

        <!-- missão -->
        <section class="missao padding">
            <div class="subtitle-container">
                <h2 class="subtitle">missão</h2>
            </div>
            <i class="missao-text">Nossa missão é criar um ambiente de aprendizagem livre de estresse e violência, e
                que
                estimule a promoção dos
                valores humanos.</i>
        </section>

        <!-- métricas -->
        <section class="metricas padding">
            <h2 class="section-title">nossos números</h2>
            <div class="metricas-container">
                <div>
                    <img class="metricas-icon" src="img/metricas/meditation.png"
                        alt="Contorno de uma pessoa sentada fazendo posição de yoga">
                    <h2 class="metricas-text">
                        <div class="metricas-number">37</div>
                        <div>ANOS</div>
                        <div class="metricas-subtitle">mudando vidas</div>
                    </h2>
                </div>

                <div>
                    <img class="metricas-icon" src="img/metricas/worldwide.png"
                        alt="Icone do planeta Terra com contorno em braco de todos os continentes.">
                    <h2 class="metricas-text">
                        <div class="metricas-number">160</div>
                        <div>PAÍSES</div>
                        <div class="metricas-subtitle">pelo mundo</div>
                    </h2>
                </div>

                <div>
                    <img class="metricas-icon" src="img/metricas/support.png"
                        alt="Icone do contorno de duas mãos se cumprimentando">
                    <h2 class="metricas-text">
                        <div class="metricas-number">+300</div>
                        <div>MILHÕES</div>
                        <div class="metricas-subtitle">de pessoas</div>
                    </h2>
                </div>
            </div>
        </section>

        <!-- parcerias -->
        <section class="partners padding">
            <h2 class="section-title">parcerias</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mattis in erat at vestibulum. Fusce
                dapibus
                massa a consectetur efficitur. Quisque ultrices feugiat mauris pellentesque condimentum. Nulla
                congue
                finibus consectetur. Suspendisse potenti. Donec laoreet mi at laoreet eleifend.psum dolor sit amet,
                consectetur adipiscing elit. Aenean mattis in erat at vestibulcongue
                finibus consectetur. Suspendisse potenti.</p>


            <div class="partners-img-container">
                <img class="logo-empresa" src="img/logo-empresas/logo2.png" alt="">
                <img class="logo-empresa" src="img/logo-empresas/logo3.png" alt="">
                <img class="logo-empresa" src="img/logo-empresas/logo4.png" alt="">
                <img class="logo-empresa" src="img/logo-empresas/logo2.png" alt="">
                <img class="logo-empresa" src="img/logo-empresas/logo3.png" alt="">
                <img class="logo-empresa" src="img/logo-empresas/logo4.png" alt="">
            </div>
        </section>

        <!-- história -->
        <section class="history padding">
            <h2 class="section-title">história</h2>

            <div class="carroussel-layout">

                <div>
                    <button class="btn-carousel carousel-icon-orientation prev"><img class="carousel-icon"
                            src="img/carousel-icons/left.png"
                            alt="Icone de uma seta para a esquerda - Passar slide para esquerda"></button>
                </div>

                <div class="carroussel-container">
                    <div class="slide">

                        <dl class="information-container">
                            <dt class="history-date">2007</dt>
                            <dd class="history-article"> A fundação iniciou o 'Projeto Vidarbha -' programa
                                Swavalamban
                                ', com o objetivo de instruir e apoiar os agricultores nas regiões atingidas pela
                                seca
                                severa para melhorar suas condições de vida. Mais de 1000 voluntários ministraram
                                treinamento em agricultura orgânica e com orçamento baixo , coleta de água da chuva,
                                higiene e construção de banheiros, além do curso Arte de Viver. A fundação recebeu
                                financiamento de 1,4 milhão de rupias do governo do estado contra suas despesas
                                totais
                                de quase 7,5 milhões de rupias, algumas das quais foram autofinanciadas, a maioria
                                das
                                quais foi levantada por doadores corporativos. Foi iniciada uma iniciativa
                                semelhante para educar os agricultores em Andhra Pradesh.implementar 'agricultura
                                com
                                orçamento zero' para acabar com os suicídios devido ao estresse financeiro.</dd>
                        </dl>

                        <dl class="information-container">
                            <dt class="history-date">2013</dt>
                            <dd class="history-article"> Um programa de três anos para rejuvenescer o rio
                                Kumudavathi
                                (em
                                Bangalore) foi iniciado pela fundação sob sua campanha 'Voluntariado para uma Melhor
                                Índia' em colaboração com autoridades civis e ambientalistas em fevereiro de 2013.
                                "O
                                projeto visa abordar os problemas de escassez de água através de captação de água da
                                chuva, aumento da cobertura verde e desassoreamento de poços existentes, entre
                                outros
                                métodos ". Os voluntários se juntam aos moradores todos os domingos para participar
                                dessas atividades sob a orientação de um cientista geológico. Para criar
                                consciência sobre esse programa, o fundador da Art of Living, Ravi Shankar , junto a
                                outras ONGs, cidadãos importantes, autoridades cívicas, agricultores e voluntários,
                                liderou uma caminhada na cidade de Bangalore. Além de reviver alguns corpos de água
                                usados ​​por pássaros e animais, o projeto reviveu cinco poços de recarga de água,
                                construiu 74 verificações de rochas, limpou 18 poços de degraus e plantou 2.350
                                mudas em
                                sete aldeias até junho de 2014.</dd>
                        </dl>

                        <dl class="information-container">
                            <dt class="history-date">2016</dt>
                            <dd class="history-article">
                                A Art of Living Foundation organizou o Festival da Cultura Mundial realizado nas
                                planícies de inundação de Yamuna em março de 2016. Um comitê nomeado pelo National
                                Green
                                Tribunal (NGT) recomendou uma multa de R $ 1.200 milhões na Art of Living Foundation
                                por
                                danificar a ecologia das planícies de inundação. A multa foi reduzida para 50
                                milhões de rupias, sem mais eventos a serem permitidos naquele local. Depois de
                                inicialmente contestar a multa, Ravi Shankar declarou que preferia ir para a prisão,
                                a fundação pagou em 3 de junho de 2016.
                            </dd>
                        </dl>

                    </div>
                </div>

                <div>
                    <button class="btn-carousel carousel-icon-orientation next"><img class="carousel-icon"
                            src="img/carousel-icons/right.png"
                            alt="Ícone de uma seta para a direita - Passar slide para direita">
                    </button>
                </div>

            </div>

            <div class="pagination">
                <div class="pagination-item one active-pagination"></div>
                <div class="pagination-item two"></div>
                <div class="pagination-item three"></div>

            </div>

        </section>

        <!-- projetos -->
        <section class="projects padding">

            <h2 class="section-title">projetos</h2>

            <div class="container-projects">
                <div class="btn-container">
                    <button class="btn-carousel carousel-icon-orientation btn-carousel-left"><img class="carousel-icon"
                            src="img/carousel-icons/left.png"
                            alt="Ícone de uma seta para a esquerda - Passar slide para esquerda"></button></div>

                <div class="course-container-hidden">
                    <div class="course-container clearfix">

                        <% courses.forEach((courses) => { %>
                        <dl class="course">
                            <div class="img-course">
                                <dt><%= courses.title %></dt>
                            </div>
                            <dd><%= courses.bodyCourse %></dd>
                            <a href="/cursos"><button class="primary">saiba mais</button></a>
                        </dl>
                        <%})%>

                    </div>
                </div>

                <div class="btn-container"> <button
                        class="btn-carousel carousel-icon-orientation btn-carousel-right"><img class="carousel-icon"
                            src="img/carousel-icons/right.png"
                            alt="Ícone de uma seta para a direita - Passar slide para direita"></button></div>
            </div>

        </section>


        <!-- Seja Membro -->
        <section class="be-a-member padding">
            <h2 class="section-title">seja membro</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim augue nec feugiat
                fringilla. Phasellus commodo vel justo eget bibendum. Mauris posuere ipsum eu diam sollicitudin,
                quis
                interdum lorem elementum. Morbi pretium libero id sollicitudin cursus. Vestibulum non tortor
                accumsan,
                mollis lacus et, pharetra magna.</p>

            <div class="beamember-container">

                <div class="btn-container">
                    <button class="btn-carousel carousel-icon-orientation beamember-button-left">
                        <img class="carousel-icon" src="img/carousel-icons/left.png"
                            alt="Ícone de uma seta para a esquerda - Passar slide para esquerda">
                    </button>
                </div>


                <div class="hidden">

                    <div class="carousel-container">

                        <div class="member">
                            <div class="carrousel-img-container">

                                <div>
                                    <img class="carrousel-img " src="img/be-a-member/person1.jpg" alt="">
                                    <h3><i>Rodrigo Alvarez - 32 anos</i></h3>
                                </div>

                            </div>

                            <div class="carrousel-text-container">
                                <p>
                                    <i>“Sou voluntário a mais de 3 anos, me sinto muito bem em fazer o que eu faço
                                        hoje, que
                                        é ajudar
                                        pessoas!”</i>
                                </p>

                                <a href="/seja-membro"><button class="primary">saiba mais</button></a>
                            </div>

                        </div>

                        <div class="member">
                            <div class="carrousel-img-container">

                                <div>
                                    <img class="carrousel-img " src="img/be-a-member/person1.jpg" alt="">
                                    <h3><i>2</i></h3>
                                </div>

                            </div>

                            <div class="carrousel-text-container">
                                <p>
                                    <i>“Sou voluntário a mais de 3 anos, me sinto muito bem em fazer o que eu faço
                                        hoje, que
                                        é
                                        ajudar
                                        pessoas!”</i>
                                </p>

                                <a href="/seja-membro"><button class="primary">saiba mais</button></a>
                            </div>

                        </div>

                        <div class="member">
                            <div class="carrousel-img-container">

                                <div>
                                    <img class="carrousel-img " src="img/be-a-member/person1.jpg" alt="">
                                    <h3><i>3</i></h3>
                                </div>

                            </div>

                            <div class="carrousel-text-container">
                                <p>
                                    <i>“Sou voluntário a mais de 3 anos, me sinto muito bem em fazer o que eu faço
                                        hoje, que
                                        é
                                        ajudar
                                        pessoas!”</i>
                                </p>

                                <a href="/seja-membro"><button class="primary">saiba mais</button></a>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="btn-container">
                    <button class="btn-carousel carousel-icon-orientation beamember-button-right"><img
                            class="carousel-icon" src="img/carousel-icons/right.png"
                            alt="Ícone de uma seta para a direita - Passar slide para direita"></button>
                </div>

            </div>
        </section>

        <!-- quem somos -->
        <section class="who-are padding">
            <h2 class="section-title">quem somos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris convallis, odio vitae pretium
                dignissim,
                diam
                lorem pulvinar ligula, in pellentesque odio urna vel tellus. Fusce vitae auctor tortor. Nunc nulla
                sapien,
                facilisis nec porttitor id, sollicitudin at velit. Nam at malesuada lacus. Pellentesque egestas
                viverra
                tellus. Nullam non diam imperdiet, tincidunt elit eget, varius turpis. Aenean ullamcorper varius
                augue,
                ac
                suscipit ante euismod sit amet. </p>
            <a href="/quem-somos"><button class="primary">saiba mais</button></a>
        </section>

        <!-- fique por dentro -->
        <section class="page-news padding">
            <h2 class="section-title">fique por dentro</h2>

            <div class="container-inside">

                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac laoreet
                    nibh, id
                    venenatis ligula.
                    Proin gravida accumsan leo non sagittis.
                </p>

                <div class="container-news clearfix">

                    <% latestNews.forEach((latestNews) => { %>

                    <div class="specific-news">
                        <img src="img/page-news-index/news1.jpg" alt="Capa da notícia">
                        <a href="/newsSpecific" class="bt-news tertiary">Notícia</a>

                        <%})%>

                    </div>

                    <a href="/news"><button class="primary">saiba mais</button></a>
                </div>
            </div>
        </section>

        <!-- news-letter -->
        <section class="news-letter padding">
            <img src="img/news-letter/megaphone.png" alt="Icone de um megafone">

            <div class="title-newsLetter">
                <h3>Não perca nada!</h3>
                <h3>Inscreva-se para receber novidades</h3>
            </div>

            <div>
                <form method="POST" action="/homepage/newsletter/save" class="form">
                    <input type="text" placeholder="Nome" name="name">
                    <input type="text" placeholder="E-mail" name="email">
                    <button class="btn-news action-cadastro-news-letter" disabled>quero ficar informado</button>
                </form>
            </div>
        </section>
    </main>

    <script>
        let body = document.querySelector('.body')
        let popUp = document.querySelector('.pop-up')
        let name = document.getElementsByName('name')
        let email = document.getElementsByName('email')
        let success = document.querySelector('.success').innerText
        let btn = document.querySelector('.btn-back')
        let btnews = document.querySelector('.btn-news')
        let form = document.querySelector('.form')
        btn.addEventListener('click', close)


        form.addEventListener("blur", function (event) {
            verify()
        }, true);

        function verify() {
            if(name[0].value != '' && email[0].value != ''){
            btnews.disabled = false
            }
        }

        if (success == 'true') {
            body.classList.add("hidden")
            popUp.style.display = "flex"
        }

        function close() {
            body.classList.remove("hidden")
        }
    </script>

    <%- include partials/footer.ejs %>