<%- include ../partials/header.ejs %>

<body>

    <!-- nav-bar -->
    <%- include ../partials/navbar.ejs %>

    <main class="main-news-general">

        <!-- noticias -->
        <section>
            <div class="title-container">
                <h1>
                    nossos projetos!
                </h1>
                <p>Aqui é possível conhecer todos os projetos da Arte de Viver!</p>
            </div>

            <!-- container noticias -->
            <% courses.forEach((courses) => { %>
            <div class="news-container">
                <div class="news-img-container">
                    <img src="../img/news-general/noticia-1.png" alt="">
                </div>

                <div class="news-text-container">
                    <h3> <a href="/course/<%= courses.title %>/<%= courses.id %>"><%= courses.title %></a>
                    </h3>
                    <p>
                        <%- courses.descCourse %>
                    </p>
                    <a class="news-plus" href="/course/<%= courses.title %>/<%= courses.id %>">saiba mais</a>
                </div>
            </div>
            <%})%>

        </section>
    </main>

    <%- include ../partials/footer.ejs %>