<%- include ../partials/header.ejs %>

<body>

    <!-- nav-bar -->
    <%- include ../partials/navbar.ejs %>

    <main class="main-course">
        <section>
            <img src="/uploads/<%= courses.imgCourse %>" alt="Imagem de crianças desenhando na escola" class="img-top">

            <div class="container-width">
                <div class="title-container">
                    <h1><%= courses.title%></h1>
                    <p><%- courses.descCourse%></p>
                </div>

                <article><%- courses.bodyCourse%></article>
            </div>

            <div class="testimonial">
                <div class="container-width">
                    <p><%= courses.featured%></p>
                    <p class="testimonial-img-background"><%= courses.imgFeatured %></p>
                </div>
            </div>
        </section>


        <!-- relacionados -->
        <section class="impact container-width">
            <h2 class="section-title">impactos</h2>

            <p><%= courses.impactDesc%></p>

            <div class="impact-container">
                <div>
                    <img src="/uploads/<%= courses.impactImg1 %>" alt="">
                </div>

                <div>
                    <img src="/uploads/<%= courses.impactImg1 %>" alt="">
                </div>

                <div>
                    <img src="/uploads/<%= courses.impactImg3 %>" alt="">
                </div>
            </div>
           <!-- </div> -->
        </section>


    </main>

    <%- include ../partials/footer.ejs %>



    <script>
        let backgroundText = document.querySelector('.testimonial-img-background').innerText
        let backgroundImg = document.querySelector('.testimonial')

        window.onload = function () {
            backgroundImg.style.background = `url(/uploads/${backgroundText})`
            backgroundImg.style.backgroundSize = 'cover'
        }
    </script>