<%- include ../partials/header.ejs %>

<body>

    <!-- nav-bar -->
    <%- include ../partials/navbar.ejs %>

    <main class="main-course">
        <section>
            <img src="/img/projects/cursos-principal.png" alt="Imagem de crianças desenhando na escola" class="img-top">


            <div class="title-container">
                <div class="principal-title-container">
                    <h1>
                        <%= courses.title%>
                    </h1>
                </div>

                <div class="description-title">
                    <p>Técnicas para desenvolvimento físico e emocional nas escolas</p>
                </div>

            </div>


            <article>
                <p><%= courses.bodyCourse%>"</p>
            </article>

            <div class="testimonial">
                <div class="report">
                    <p><%= courses.featured%>
                    </p>
                    <div></div>
                </div>
            </div>

        </section>


        <!-- relacionados -->
        <section class="impact">
            <h2 class="section-title">impactos</h2>

            <p><%= courses.impactDesc%></p>

            <div class="impact-container">
                <div>
                    <img src="../img/news/action-daytime-people-1375883.jpg" alt="">
                </div>

                <div>
                    <img src="../img/news/action-daytime-people-1375883.jpg" alt="">
                </div>

                <div>
                    <img src="../img/news/action-daytime-people-1375883.jpg" alt="">
                </div>
            </div>

        </section>

    </main>

    <%- include ../partials/footer.ejs %>