<%- include ../partials/header.ejs %>

<body>

    <!-- nav-bar -->
    <%- include ../partials/navbar.ejs %>

    <main class="main-news-specific">
        <section>
            <img src="../img/news/active-activity-adult-1472887.jpg" alt="" class="img-top">


            <div class="title-container">
                <div class="principal-title-container">
                    <h1>
                        <%= news.title %>
                    </h1>
                </div>

                <div class="description-title">
                    <p>Técnicas para desenvolvimento físico e emocional nas escolas</p>
                </div>

            </div>

            <article>
                <p><%= news.bodyNews %></p>
            </article>
        </section>
    </main>

    <%- include ../partials/footer.ejs %>