<%- include ../partials/header.ejs %>

<body>

    <!-- nav-bar -->
    <%- include ../partials/navbar.ejs %>

    <main class="main-news-general">
        <section>
            <div class="manchete">
                <h1> <a href="/news/<%= lastNews[0].title %>/<%= lastNews[0].id %>"><%= lastNews[0].title %></a></h1>

            </div>
        </section>

        <!-- noticias -->
        <section>
            <div class="title-container">
                <div class="principal-title-container">
                    <h1>
                        fique <span>informado!</span>
                    </h1>
                </div>

                <div class="description-title">
                    <p>Aqui você fica por dentro do que está acontecendo na Arte de Viver!</p>
                </div>
            </div>

            <!-- container noticias -->
            <!-- noticia 1 -->
            <% news.forEach((news) => { %>
            <div class="news-container">
                <div class="news-img-container">
                    <img src="../img/news-general/noticia-1.png" alt="">
                </div>

                <div class="news-text-container">
                    <h3> <a href="/news/<%= news.title %>/<%= news.id %>"><%= news.title %></span></a>
                    </h3>
                    <p><%= news.bodyNews %></p>
                    <a class="news-plus" href="/news/<%= news.title %>/<%= news.id %>">saiba mais</a>
                </div>
            </div>
            <%})%>

            <div class="pagination">
                <ul>
                    <li class="active"><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                </ul>
            </div>
        </section>
    </main>

    <%- include ../partials/footer.ejs %>