<%- include ../partials/header.ejs %>

<body>

    <!-- nav-bar -->
    <%- include ../partials/navbar.ejs %>

    <main class="main-news-general">
        <section>
            <div class="manchete">
                <div class=" container-width">
                    <h1> <a href="/news/<%= lastNews.title %>/<%= lastNews.id %>"><%= lastNews.title %></a></h1>
                </div>
            </div>
        </section>

        <!-- noticias -->
        <section>
            <div class="container-width">
                <div class="title-container">
                    <div class="principal-title-container">
                        <h1>
                            fique <span>informado!</span>
                        </h1>
                    </div>

                    <div class="description-title">
                        <p>Aqui você fica por dentro do que está acontecendo na Arte de Viver!</p>
                    </div>
                </div>

                <!-- container noticias -->
                <!-- noticia 1 -->
                <% news.forEach((news) => { %>
                <div class="news-container">
                    <div class="news-img-container">
                        <img src="/uploads/<%= news.titleImage %>" alt="">
                    </div>

                    <div class="news-text-container">
                        <h3> <a class="title-news-mobile" href="/news/<%= news.title %>/<%= news.id %>"><%= news.title %></span></a>
                        </h3>
                        <p><%- news.newsDesc %></p>
                        <a class="news-plus" href="/news/<%= news.title %>/<%= news.id %>">saiba mais</a>
                    </div>
                </div>
                <%})%>
            </div>
        </section>
    </main>

    <%- include ../partials/footer.ejs %>