<%- include ../partials/header.ejs %>

<body>

    <!-- nav-bar -->
    <%- include ../partials/navbar.ejs %>

    <main class="main-news-specific">
        <section>
            <img src="/uploads/<%= news.titleImage %>" alt="" class="img-top">
            <div class="container-width">
                <div class="title-container">
                        <h1><%= news.title %></h1>
                        <p> <%= news.newsDesc %></p>
                </div>

                <article><%- news.bodyNews %></article>
            </div>
        </section>
    </main>

    <%- include ../partials/footer.ejs %>