<%- include ../../partials/dashHeader.ejs %>

<section class="pop-up">
    <div class="pop-up-body">
        <p class="title">Deseja mesmo excluir a notícia selecionada?</p>

        <div class="btn-container">
            <button class="btn primary btn-card">cancelar</button>

            <form class="form-delete" method="POST" action="/dashboard/users/delete">
                <input type="hidden" name="id" value="<%= news.id %>">
                <button class="btn primary btn-card btn-delete">excluir</button>
            </form>
        </div>

    </div>
</section>

<%- include ../../partials/dashPage.ejs %>


<div class="title-container">
    <h1>visão geral - todas as notícias </h1>
    <a class="primary btn-principal btn-add-news" href="/dashboard/news/new">adicionar nova notícia</a>
</div>

<div class="container-cards-dashboard">
    <h2>Já cadastradas</h2>

    <% news.forEach((news) => { %>

    <div class="card-container-long">
        <h3><%= news.title %></h3>

        <div class="btn-container-long">
            <a class="primary btn-card" href="/dashboard/news/edit/<%= news.id %>">Editar</a>

            <form class="form-delete" method="POST" action="/dashboard/news/delete">
                <input type="hidden" name="id" value="<%= news.id %>">
                <button class="primary btn-delete">Excluir</button>
            </form>
        </div>
    </div>
    <%})%>

</div>



<script>
    let btn = document.querySelector('.back')
    let popUp = document.querySelector('.pop-up')
    btn.addEventListener('click', close)

    function close() {
        popUp.style.display = 'none'
    }
</script>

<%- include ../../partials/dashFooter.ejs %>