<%- include ../../../partials/dashHeader.ejs %>

<section class="pop-up delete">
    <div class="pop-up-body">
        <p class="title">Deseja mesmo excluir o membro selecionado?</p>

        <div class="btn-container">
            <a class="primary btn-card" href="/dashboard/Bemembers">cancelar</a>

            <form class="form-delete" method="POST" action="/dashboard/members/delete">
                <input type="hidden" name="id" class="id">
                <button class="btn primary btn-card btn-delete">excluir</button>
            </form>
        </div>
    </div>
</section>

<%- include ../../../partials/dashPage.ejs %>

<h1>editar seja membro | home </h1>

<section class="section-reports">

    <div class="container-reports">

        <form class="" method="POST" action="/dashboard/home/beMember/update">
            <label for="">nome do membro 1</label>
            <input type="text" class="input-general reports-border" name="title" value="<%= showMember.title%>">
            <span class="alert-error">Você precisa preencher o nome</span>
        </form>

        <label for="">relato do membro</label>
        <input type="text" class="input-general relact-desc reports-border" name="bodyNews"
            value="<%= showMember.bodyNews%>">
        <span class="alert-error">Você precisa preencher o relato</span>

        <div class="img-container-select ">
            <label for="">capa da notícia</label>
            <div class="preview">
                <img src="/img/dashboard/picture-white.png" alt="" class="img-selected">
                <input type="file" class="reports-border" onchange="mudar(this)" class="input-general file"
                    name="titleImage" value="<%= showMember.titleImage%>">
                <span class="alert-error">Você precisa selecionar um arquivo</span>
            </div>
        </div>
    </div>

    <div class="container-reports">

        <form class="" method="POST" action="/dashboard/home/beMember/update">
            <label for="">nome do membro 1</label>
            <input type="text" class="input-general reports-border" name="title" value="<%= showMember.title%>">
            <span class="alert-error">Você precisa preencher o nome</span>
        </form>

        <label for="">relato do membro</label>
        <input type="text" class="input-general relact-desc reports-border" name="bodyNews"
            value="<%= showMember.bodyNews%>">
        <span class="alert-error">Você precisa preencher o relato</span>

        <div class="img-container-select ">
            <label for="">capa da notícia</label>
            <div class="preview">
                <img src="/img/dashboard/picture-white.png" alt="" class="img-selected">
                <input type="file" class="reports-border" onchange="mudar(this)" class="input-general file"
                    name="titleImage" value="<%= showMember.titleImage%>">
                <span class="alert-error">Você precisa selecionar um arquivo</span>
            </div>
        </div>
    </div>

    <div class="container-reports">

        <form class="" method="POST" action="/dashboard/home/beMember/update">
            <label for="">nome do membro 1</label>
            <input type="text" class="input-general reports-border" name="title" value="<%= showMember.title%>">
            <span class="alert-error">Você precisa preencher o nome</span>
        </form>

        <label for="">relato do membro</label>
        <input type="text" class="input-general relact-desc reports-border" name="bodyNews"
            value="<%= showMember.bodyNews%>">
        <span class="alert-error">Você precisa preencher o relato</span>

        <div class="img-container-select ">
            <label for="">capa da notícia</label>
            <div class="preview">
                <img src="/img/dashboard/picture-white.png" alt="" class="img-selected">
                <input type="file" class="reports-border" onchange="mudar(this)" class="input-general file"
                    name="titleImage" value="<%= showMember.titleImage%>">
                <span class="alert-error">Você precisa selecionar um arquivo</span>
            </div>
        </div>
    </div>

    <div class="container-reports">

        <form class="" method="POST" action="/dashboard/home/beMember/update">
            <label for="">nome do membro 1</label>
            <input type="text" class="input-general reports-border" name="title" value="<%= showMember.title%>">
            <span class="alert-error">Você precisa preencher o nome</span>
        </form>

        <label for="">relato do membro</label>
        <input type="text" class="input-general relact-desc reports-border" name="bodyNews"
            value="<%= showMember.bodyNews%>">
        <span class="alert-error">Você precisa preencher o relato</span>

        <div class="img-container-select ">
            <label for="">capa da notícia</label>
            <div class="preview">
                <img src="/img/dashboard/picture-white.png" alt="" class="img-selected">
                <input type="file" class="reports-border" onchange="mudar(this)" class="input-general file"
                    name="titleImage" value="<%= showMember.titleImage%>">
                <span class="alert-error">Você precisa selecionar um arquivo</span>
            </div>
        </div>
    </div>

</section>

<a href="/dashboard/home" class="tertiary btn-tertiary-members">voltar</a>

<%- include ../../../partials/dashFooter.ejs %></div>