<%- include ../../../partials/dashHeader.ejs %>

    <div class="pop-up-body">
        <p class="title">Deseja mesmo excluir o membro selecionado?</p>

        <div class="btn-container">
            <a class="primary btn-card" href="/dashboard/Bemembers">cancelar</a>

            <form class="form-delete" method="POST" action="/dashboard/members/delete">
                <input type="hidden" name="id" class="id">
                <button class="btn primary btn-card btn-delete">excluir</button>
            </form>
        </div>
    </div>
</section>

<%- include ../../../partials/dashPage.ejs %>

<h1>editar seja membro | home </h1>

<section class="section-reports">

    <% member.forEach((member) => { %>

    <div class="container-reports">
        <form class="" method="POST" action="/dashboard/home/be-member/update">
            <label for="">nome</label>
            
            <input type="text" class="input-general reports-border" name="name" value="<%= member.name %>">
            <span class="alert-error">Você precisa preencher o nome</span>

            <label for="">relato</label>
            <textarea class="textarea relact-desc reports-border" name="bodyNews"><%= member.desc %></textarea>
            <span class="alert-error">Você precisa preencher o relato</span>

            <div class="img-container-select ">
                <label for="">foto</label>
                <div class="preview">
                    <img src="/img/dashboard/picture-white.png" alt="" class="img-selected">
                    <input type="file" class="reports-border" onchange="mudar(this)" class="input-general file"
                        name="titleImage" value="<%= member.img %>">
                    <span class="alert-error">Você precisa selecionar um arquivo</span>

                    <input type="hidden" name="id" value="<%= member.id%>">

                    <button class="primary">editar membro</button>
                </div>
            </div>
        </form>
    </div>

    <%})%>
</section>

<a href="/dashboard/home" class="btn-tertiary-members tertiary ">voltar</a>


<script src="/tinymce/tinymce.min.js"></script>
<script src="/js/tinyMce.js"></script>
<%- include ../../../partials/dashFooter.ejs %></div>