<%- include ../../partials/dashHeader.ejs %>

<section class="pop-up delete">
    <div class="pop-up-body">
        <p class="title">Deseja mesmo excluir o interessado selecionado?</p>

        <div class="btn-container">
            <a class="primary btn-card" href="/dashboard/members">cancelar</a>

            <form class="form-delete" method="POST" action="/dashboard/members/delete">
                <input type="hidden" name="id" class="id">
                <button class="btn primary btn-card btn-delete">excluir</button>
            </form>
        </div>
    </div>
</section>


<%- include ../../partials/dashPage.ejs %>

<h1>interessados</h1>

<div class="card-container">

    <% members.map(member => { %>

    <div class="card-members">
        <div class="card-members-text-container">
            <h2><%= member.name%></h2>
            <i><%= member.interest%></i>

            <%  if(member.interest == 'voluntário'){ %>
            <p class="margin">idade: <span><%= member.age%></span></p>

            <%  } else { %>
            <p class="margin">empresa: <span><%= member.company%></span></p>
            <%  } %>

            <p>email: <span><%= member.email%></span></p>
            <p>telefone: <span><%= member.telephone%></span></p>
            <p>motivo:
                <span class="members-text"><%= member.reason%></span>
            </p>
        </div>

        <button onclick="show()" class="primary btn-card btn-confirm-delete" type="button">excluir</button>
        <input type="hidden" name="id" class="idCard" value="<%= member.id %>">
    </div>
    <% }) %>
</div>


<script src="/js/pop-up-members.js"></script>
<%- include ../../partials/dashFooter.ejs %>