<%- include ../../partials/dashHeader.ejs %>
<%- include ../../partials/dashPage.ejs %>

<h1>editar usuário</h1>

<div class="card-container">
    <form class="form-container" method="POST" action="/dashboard/users/update" >
        <label for="">nome completo</label>
        <input type="text" class="input-general" name="name" value="<%= user.name%>">

        <label for="">cargo</label>
        <input type="text" class="input-general" name="responsibility" value="<%= user.responsibility%>">

        <label for="">e-mail</label>
        <input type="text" class="input-general" name="email" value="<%= user.email%>">

        <label for="">senha</label>
        <input type="text" class="input-general" name="password" value="<%= user.password%>">

        <input type="checkbox" value="<%= user.administrator%>" class="input-select" name="administrator"> Administrador

        <input type="hidden" name="id" value="<%= user.id %>">

        <button class="primary btn-change">editar usuário</button>
    </form>
    ]






    
    
    <a href="/dashboard/users" class="tertiary">cancelar</a>
</div>


<%- include ../../partials/dashFooter.ejs %>