<%- include ../../partials/dashHeader.ejs %>
<%- include ../../partials/dashPage.ejs %>

<h1>editar usuário</h1>

<div class="card-container">
    <form class="form-container" method="POST" action="/dashboard/users/update">
        <label for="">nome completo</label>
        <input type="text" class="input-general" name="name" value="<%= user.name%>">
        <span class="alert-error">Preencha o campo!</span>

        <label for="">cargo</label>
        <input type="text" class="input-general" name="responsibility" value="<%= user.responsibility%>">
        <span class="alert-error">Preencha o campo!</span>

        <label for="">e-mail</label>
        <input type="text" class="input-general" name="email" value="<%= user.email%>">
        <span class="alert-error">Preencha o campo!</span>

        <div class="container-password">
            <label for="">nova senha</label>
            <div class="grid-password">
                <input type="password" class="input-general input-password" name="password">
                <button type="button" class="btn-password-view"><img class="img-password" src="/img/dashboard/hide.png"
                        alt=""></button>
                <span class="alert-error">Preencha o campo!</span>
            </div>
        </div>

        <%  if(user.administrator){ %>
        <input type="checkbox" value="<%= user.administrator%>" class="input-select" name="administrator" checked>
        Administrador

        <%  } else { %>
        <input type="checkbox" value="<%= user.administrator%>" class="input-select" name="administrator"> Administrador
        <%  } %>

        <input type="hidden" name="id" value="<%= user.id %>">
        <button class="btn-change btn-verification btn-disabled" disabled>editar usuário</button>
    </form>
    <a href="/dashboard/users" class="tertiary">cancelar</a>
</div>

<script src="/js/userEdit.js"></script>
<script src="/js/passwordView.js"></script>

<%- include ../../partials/dashFooter.ejs %>