<%- include ../../partials/dashHeader.ejs %>

<section class="pop-up delete">
    <div class="pop-up-body">
        <p class="title">Deseja mesmo excluir o usuário selecionado?</p>

        <div class="btn-container">
            <a class="primary btn-card" href="/dashboard/users">cancelar</a>

            <form class="form-delete" method="POST" action="/dashboard/users/delete">
                <input type="hidden" name="id" class="id">
                <button class="btn primary btn-card btn-delete">excluir</button>
            </form>
        </div>
    </div>
</section>

<section class="pop-up user">
    <div>
        <p class="title">Usuário adicionado com sucesso!</p>
        <a href="/dashboard/users" class="tertiary">voltar</a>
    </div>
</section>

<section class="pop-up edit">
    <div>
        <p class="title">Usuário editado com sucesso!</p>
        <a href="/dashboard/users" class="tertiary">voltar</a>
    </div>
</section>

<%- include ../../partials/dashPage.ejs %>

<div class="title-container">
    <h1>visão geral - todos os usuários</h1>
    <a class="primary btn-principal" href="/dashboard/users/new">adicionar novo usuário</a>
</div>

<p class="success"><%= success %></p>
<p class="successEdit"><%= successEdit %></p>

<div class="card-container">
    <% user.forEach((user) => { %>
    <div class="card card-user">
        <h2 class="subtitle"><%= user.name %></h2>
        <p><%= user.responsibility %></p>
        <div class="btn-container">
            <a class="primary btn-card" href="/dashboard/users/edit/<%= user.id %>">editar</a>
            <button onclick="show()" class="primary btn-card btn-confirm-delete" type="button">excluir</button>
            <input type="hidden" name="id" class="idCard" value="<%= user.id %>">
        </div>
    </div>
    <%})%>
</div>

<script src="/js/pop-up-dash.js"></script>
<%- include ../../partials/dashFooter.ejs %>