<%- include ../../partials/dashHeader.ejs %>

<!-- <section class="pop-up">
    <div class="pop-up-body">
        <p class="title">Deseja mesmo excluir o usuário selecionado?</p>

        <div class="btn-container">
            <button class="primary btn-card back">cancelar</button>

            <form class="form-delete" method="POST" action="/dashboard/users/delete">
                <input type="hidden" name="id" value="<%= user.id %>">
                <button class="btn primary btn-card btn-delete">excluir</button>
            </form>
        </div>
        
    </div>
</section> -->

<section class="pop-up ok">
        <div>
            <p class="title">Usuário adicionado com sucesso!</p>
            <a href="/dashboard/users" class="tertiary">voltar</a>
        </div>
</section>
    


<%- include ../../partials/dashPage.ejs %>


<div class="title-container">
    <h1>visão geral - todos os usuários</h1>
        <a class="primary btn-principal" href="/dashboard/users/new">adicionar novo usuário</a>
</div>



 <p class="success"><%=success %></p>

<div class="card-container">
    <% user.forEach((user) => { %>
    <div class="card card-user">
        <h2 class="subtitle"><%= user.name %></h2>
        <p><%= user.responsibility %></p>

        <div class="btn-container">

                <a class="primary btn-card" href="/dashboard/users/edit/<%= user.id %>">editar</a>

            <form class="form-delete" method="POST" action="/dashboard/users/delete">
                <input type="hidden" name="id" value="<%= user.id %>">
                <button class="primary btn-delete">excluir</button>
            </form>
        </div>
    </div>
    <%})%>
</div>


<script>
    let success = document.querySelector('.success').innerText
    let popUp = document.querySelector('.pop-up')

    if(success == 'true'){
      popUp.style.display = "block"
    }

</script>


<%- include ../../partials/dashFooter.ejs %>


