<%- include ../../../partials/dashHeader.ejs %>
<%- include ../../../partials/dashPage.ejs %>

<h1>editar área principal | home </h1>

<div class="card-container">

    <form class="form-container" method="POST" action="/dashboard/home/principalArea/update">

        <label for="">título</label>
        <input type="text" class="input-general" name="title" value="<%= principalarea.title%>">

        <div class="img-container-select">
            <label for="">imagem de fundo</label>
            <div>
                <img src="/img/dashboard/picture.png" alt="" class="img-selected">
                <input type="file" onchange="mudar(this)" class="input-general file" name="imgBackground"
                    value="<%= principalarea.imgBackground%>">
            </div>
        </div>

        <input type="hidden" name="id" value="<%= principalarea.id %>">
        <button class="primary btn-change">editar área principal</button>

    </form>

    <a href="/dashboard/home" class="tertiary">voltar</a>

</div>

<%- include ../../../partials/dashFooter.ejs %></div>